*.jnl
*.log
Licitaciones/licitaciones_euskadi.csv
Licitaciones/README.md
Licitaciones/morph-kgc/licitaciones_euskadi_4.csv
Licitaciones/morph-kgc/licitaciones_euskadi.nt
Licitaciones/morph-kgc/morph_kgc
Licitaciones/morph-kgc/licitaciones_euskadi_5.csv
oxigraph/data/*

